.shop_table {
  margin: 0;
  text-align: left;
  border-collapse: collapse;
  border-radius: 0;
  background: #fff;
  width: 100%;
  margin-bottom: 50px;
}
.shop_table th {
  font-weight: 600;
  padding: 9px 12px;
  text-transform: uppercase;
  background: #f6f6f6 !important;
  text-align: center;
  vertical-align: middle;
}
.shop_table td {
  padding: 9px 12px;
  text-align: center;
}

th,
td {
  border: 1px solid #eaeaeb;
  padding: 10px 15px;
  font-weight: normal;
  font-size: 14px;
}

.shop_table td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  vertical-align: middle;
}
.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #ccc;
  text-decoration: none;
  font-weight: 600;
  border: 0;
}
.product_name {
  padding: 15px 15px;
  text-align: left;
}
.start-booking-date {
  font-weight: 500;
  font-size: 16px !important;
}
.start-booking-date {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 15px;
}
.end-booking-date:after,
.start-booking-date:after {
  content: "";
  position: absolute !important;
  left: -20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  background: #fff;
  top: 8px;
  z-index: 1;
  width: 13px !important;
  height: 13px !important;
}
.start-booking-pickup:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-left: 2px dashed #ddd;
  left: -15px;
  top: 12px;
  z-index: 0;
}
